.card {
	padding: 2.5rem;
	color: var(--color-white);
	background-color: var(--color-blue-dark);
	border-radius: 0.5rem;
}

.rows {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.card_title {
	margin-block-end: 2.25rem;
	font-size: 3.375rem;
	font-weight: normal;
}

.card_heading {
	font-size: 1.75rem;
	font-weight: 600;
}