.card {
	padding: 2.5rem 1.875rem;
	border: 1px solid #CECECEF2;
	border-radius: 0.5rem;
}

.title {
	margin-block-end: 2.5rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.fields {
	display: grid;
	gap: 27px;
}