.page {
	margin: 0 auto;
	padding-block: 1rem;
	text-align: center;
}

.error {
	font-size: 1.5rem;
	font-weight: 500;
}

.link {
	display: block;
	margin-block-start: 0.5rem;
	font-size: 1rem;
	color: #0077ff;
}