.box {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.label_box {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.label {
	opacity: 0.7;
}

.input {
	width: 100%;
	padding: 0.8rem;
	font-family: inherit;
	border: 1px solid #EFEFEF;
	border-radius: 0.4rem;
	resize: none;
}