.card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 4rem;
}

.card_image {
	max-height: 480px;
	flex: 1;
	border-radius: 1rem;
	object-fit: cover;
}

.card_content {
	flex: 1;
	padding-block: 0.5rem;
}

.card_title_wrapper {
	margin-block-end: 2rem;
}

.card_title {
	padding-inline-start: 2rem;
	position: relative;
	font-size: 2rem;
	font-weight: 400;
}

.card_title::before {
	content: "";
	width: 100%;
	max-width: 0.625rem;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: var(--color-blue-dark);
}

.card_list *,
.card_paragraphs * {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.card_paragraphs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card_list {
	padding-inline-start: 2rem;
}