.pagination {
	margin-block-start: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.item {
	border: 1px solid #DFE3E8;
}

.caret_left {
	background-color: #c8cfd5;
}

.value {
	font-size: 0.875rem;
	font-weight: 700;
}