
.content {
  background-image: url("src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
.wrapper {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  
  color: white;
  background-color: rgba(7,38,79, 0.5);
  
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 300px;
}

.form-title {
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  font-size: 30px;
  margin: 15px 0;
  color: #cacaca;
}

.error-msg {
  float: right;
  color: var(--color-yellow);
  
}

.form-field {
  background-color: #ededed;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}
.btn-link {
  border: none;
  background: rgba(0,0,0,0);
  cursor: pointer;
  padding: 15px;
  width: 100%;
  align-self: center;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  font-size: 16px;
}
.btn-link:hover {
  background-color: rgb(255,255,255, 0.1);
}
.btn-link:active {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.btn-submit {
  align-self: center;
  background-color: rgb(1,43,98);
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
}
.btn-submit:hover {
  background-color: rgba(16, 81, 167, 0.6);
}
.btn-submit:active {
  box-shadow:  0 0 10px rgba(255, 255, 255, 0.1);
}