html {
  font-family: "Rubik";
}

:root {
  --color-blue-dark: #00357d;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
	border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}